<% if user_signed_in? && current_user.admin? %>
  <% randomarray = [] %>
  <% @users.each do |gebruiker| %>
  <% randomarray<<gebruiker.id %>
  <% end %>
  <p> <%= randomarray.reverse! %> </p>
<% end %>

<% if user_signed_in? && !current_user.admin? %>
  <p><%= @user.created_at %></p>
<% end %>
