<% if user_signed_in? %>
<%= @user.email %>
<p> Look for your match of the day: <p>
<% else %>
<p> This is not your page </p>
<%end%>
<% @days.each do |day| %>
<% if day.date <= Date.today %>
 <%= @day.list %>
 <%end%>
<%end%>
